<div class="row">
    <form class="col s4 push-s4 login-form">
        <div class="input-field">
            <input id="user-email" type="text">
            <label for="email">Email</label>
        </div>
        <div class="input-field">
            <input id="user-password" type="text">
            <label for="password">Password</label>
        </div>
        <button class=" loginBtn btn waves-effect waves-teal col s6 push-s3" id="subtmitBtn" type="submit" name="action">Login
        </button>
    </form>
</div>
<div class="row">
    <a href="/signup" class="btn waves-effect waves-teal col s2 push-s5">Sign Up</a>
</div>
<script src="./js/login.js"></script>