<h1>
    <span id="Q">Q</span>uacker
</h1>

<div class="row">
    <form id="login-form" class="col s4 push-s4">
        <div class="input-field">
            <input type="text" id="username-input-login">
            <label>Username</label>
        </div>
        <div class="input-field">
            <input type="password" id="password-input-login" class="validate">
            <label>Password</label>
        </div>
        <div class='row center-align'>
            <button class=" loginBtn btn waves-effect waves-teal audio" type="submit" name="action">Login
            </button>
        </div>



        <div class='row center-align'>
            <a href='/signup' class='btn waves-effect waves-teal'>Sign Up</a>
        </div>
    </form>
</div>
<div class="row center-align">
    <button class='quack' onclick="play3()">
        <img class='logo circle responsive-img valign' src='/images/QuackerLogo.png' alt='Quacker Logo' />
    </button>
</div>


<audio id="audio3" src="/images/queack.mp3"></audio>





<script src='./js/play.js'></script>
<script src='./js/login.js'></script>