<div class="row">
    <form id="login-form" class="col s4 push-s4">
        <div class="input-field">
            <input type="text">
            <label for="username-input-login">Username</label>
        </div>
        <div class="input-field">
            <input class="validate">
            <label for="password-input-login">Password</label>
        </div>
        <button class=" loginBtn btn waves-effect waves-teal col s6 push-s3" type="submit" name="action">Login
        </button>
    </form>
</div>
<div class="row">
    <a href="/signup" class="btn waves-effect waves-teal col s2 push-s5">Sign Up</a>
</div>
<script src="/js/login.js"></script>