<!-- nav bar -->
<nav>
  <div class='nav-wrapper'>
    <a href='#' class='brand-logo right'><img class='logo circle responsive-img valign' src='/images/QuackerLogo.png'
        alt='Quacker Logo' /></a>
    <ul id='nav-mobile' class='left hide-on-med-and-down'>
      <li><a href='/pond'>Home</a></li>
      <li><a href='/'>LogIn</a></li>
      <li><a href='#'>Log Out</a></li>
    </ul>
    <header>
      <div class="row">
        <button id="logout-link" class=" logoutBtn  btn waves-effect waves-teal" type="submit" name="action">Logout
        </button>
      </div>
      </nav>
    </header>
    <!-- end nav bar -->

    <!-- display post --> 
    
    <div class="postContainer" id="">
        
            <div class="row blue-grey darken-1">
                <div class="postCardHeader">
                    <p>{{post.user.username}}</p>
                </div>
                <div class="postCardMessage">
                    <p>{{post.message}}</p>
                </div>
                <div class="card-action">
                    <a class="waves-effect waves-blue btn-flat" id="likeBtn"><i class="fa-solid fa-egg"></i> Like</a>
                    <a class="waves-effect waves-blue btn-flat" id="replyBtn">Reply</a>
                    <a class="waves-effect waves-blue btn-flat" id="deleteBtn"><i class="fa-solid fa-trash"></i> Delete</a>
                </div>
                <div class="commentList">
                    <table class="commentTable">
                        <tbody>
                            {{#each post.comments}}
                            <tr><td>{{user.username}}:</td><td>{{message}}</td><tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                
            </div>
        

    </div>

    <script src="../js/post.js"></script>
