<div class="row">
  <form class="col s4 push-s4">
    <div class="input-field">
      <input type="text">
      <label for="username">Username</label>
    </div>
    <div class="input-field">
      <input type="text">
      <label for="email">Email</label>
    </div>
    <div class="input-field">
      <input type="text">
      <label for="password">Password</label>
    </div>
    <div class="input-field">
      <input type="text">
      <label>Verify Password</label>
    </div>
    <button class=" loginBtn btn waves-effect waves-teal col s6 push-s3" type="submit" name="action">Create Account
    </button>
  </form>
</div>
<script src="/js/signup.js"></script>