<h1>
  <span id="Q">Q</span>uacker
</h1>

<div class="row">
  <form class="col s4 push-s4" id="signup-form">
    <div class="input-field">
      <input type="text" id="firstname-input-signup">
      <label>First Name</label>
    </div>
    <div class="input-field">
      <input type="text" id="lastname-input-signup">
      <label>Last Name</label>
    </div>
    <div class="input-field">
      <input type="text" id="username-input-signup">
      <label>Username</label>
    </div>
    <div class="input-field">
      <input type="password" id="password-input-signup" class="validate">
      <label>Password</label>
    </div>
    <div class="input-field">
      <input type="text" id="email-input-signup">
      <label>Email</label>
    </div>
    <button class=" loginBtn btn waves-effect waves-teal col s6 push-s3" type="submit" name="action">Create Account
    </button>
  </form>
</div>
<script src="/js/signup.js"></script>