:root {
    --ltbrown: rgb(142, 105, 75);
    --ltforest: #86938F;
    --medforest: #5E877F;
    --forest: #6C6B67;
    --light: #E3E4E3;
    --dkbrown: rgb(15, 28, 17);
    --blue: rgb(51, 50, 185);
    --bill: rgb(215, 171, 40);
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--forest);
}

a {
    color: var(--dkbrown);
    text-decoration: none;
}

a:visited {
    color: inherit;
}

header {
    padding: 40px;
    text-align: center;
    background: var(--forest);
    color: var(--light);
}

header h1 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 4.5rem;
    font-weight: 400;
    color: var(--bill);
}

.input-field label {
    pointer-events: all !important;
}

#Q {
    font-weight: 700;
}

.loginBtn {
    background-color: var(--bill);
}